<h1>New advert</h1>

<%= form_for @advert do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit 'Submit' %>
<% end %>

<p><%= link_to 'Go back', adverts_path %></p>


