<h1>New advert</h1>

<%= simple_form_for @advert do |f| %>
  <%= f.input :title %>
  <%= f.input :description, id: "advert_description" %>
  <%= f.association :profiles, as: :check_boxes %>
  <%= f.button :submit %>
<% end %>

<p><%= link_to 'Go back', adverts_path %></p>


