<h2>Advert</h2>

<p class="title"><strong>Title:</strong> <%= @advert.title %></p>
<p class="description"><%= @advert.description %></p>
<p class="profiles"><strong>Profiles</strong></p>
<p><%= User.find(@advert.user_id).name %></p>
<ul class="profile">
	<% @advert.profiles.each do |profile| %>
	<li><%= profile.name %>	</li>
	<% end %>
</ul>

<% if current_user %>
  <p class="textlinks"><%= link_to 'Contact', '#' %></p>

<% else %>
  <p>Not registered!</p>
<% end %>

<p class="textlinks"><%= link_to 'Go back', adverts_path %></p>
