<h2>Advert</h2>

<p><strong>Title:</strong> <%= @advert.title %></p>
<p><%= @advert.description %></p>
<p><strong>Profiles</strong></p>
<ul>
	<% @advert.profiles.each do |profile| %>
	<li><%= profile.name %>	</li>
	<% end %>
</ul>

<% if current_user %>
  <p><%= link_to 'Contact', '#' %></p>

<% else %>
  <p>Not registered!</p>
<% end %>

<p><%= link_to 'Go back', adverts_path %></p>
