<!DOCTYPE html>
<html>
<head>
  <title>LookingforaCreative</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <h1><a href="http://localhost:3000/" id="maintitle">Looking for a Creative</a></h1>
    <p>Want to do a creative IT project? Find here your ideal partners</p>
    <nav>
      <ul>
        <li>
         <%  if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <%= link_to "Login", new_user_session_path %>
          <% end %>
        
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
      </ul>
    </nav>
  </header>
  <%= yield %>
  
</body>
</html>
